# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config files
*.config

# Dependency directories and files
# vendor/
node_modules
bun*

# VScode
*.code-workspace
.idea/
.vscode/

# Go workspace files
go.work
go.work.sum

# Environment files
.env
.env.*
!.env.example

# build directories
.builds/
build/bin
build/darwin
build/windows
frontend/dist
frontend/wailsjs

# OS files
.DS_Store
**/.DS_Store
.DS_Store?

# Generated data
*_templ.go

# Misc
*.log
tmp/
sample/
